*.pyc
*.c
*.so
*.swp
*.npy 
*.png
*.svg
*.pdf
!PyAbel_GUIs/*.pdf
examples/data/Xenon_800_nm*
examples/*.dat
*pytest_cache*
*.coverage
*.egg-info/
dist/
build/
doc/_build/
doc/transform_methods/comparison/fig_benchmarks/working

# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# macOS Finder files
Icon?
._*

# macOS resource fork files
.Spotlight-V100
.Trashes
.VolumeIcon.icns
.DS_Store?
.fseventsd